{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Capy-pedia</h1>
          <span class="subheading">Обучающий ресурс для тех, кто хочет больше узнать о самых крупных грызунах нашей планеты.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Добро пожаловать на мой обучающий ресурс! Данный сайт был создан в качестве курсового проекта 2-го курса в Архангельском Колледже Менеджмента по предмету
          "Разработка программных модулей" в 2024 году. Преподаватель Грузденок Максим Олегович.
        </p>
        <p>
          Тематика сайта посвящена самым крупным грызунам на планете земля, а именно - капибарам. В разделе "теория" вы найдете расширенную информацю о капибарах,
          узнаете можно ли содержать капибар как домашних животных, а так же ознакомитесь с десятком интересных фактов!
          В разделе "тестирование" вы сможете проверить только что полученные знания.
        </p>
        <p>
          Приятного изучения!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
